/*
filename: apply-styles.css
author: Callum Rochfort
created: 16/04/2026
last modified: 16/04/2026
description: This is the application page specific styling.
*/

/* fixes the gap in the header, but it also pushes your text closer together for some reason so you may need to fix that. I tried to find a work around but couldn't, SORRY! - Alex Hall*/
* {
    margin: 0;
}



