/*
filename: MainStylesheet.css
author: Thomas Crawley, Jack Goodsell, Alex Hall, callum Rochfort
created: 12/04/2026
last modified: 12/04/2026
description: This is the main styling that applies to all pages.
*/
